<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetty.Buffers-signed" version="0.3.1" targetFramework="net45" />
  <package id="DotNetty.Codecs-signed" version="0.3.1" targetFramework="net45" />
  <package id="DotNetty.Common-signed" version="0.3.1" targetFramework="net45" />
  <package id="DotNetty.Transport-signed" version="0.3.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
</packages>