<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Buffers" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetty.Common" publicKeyToken="e7a0210a354f294a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.3.2.0" newVersion="0.3.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>